cache/*
output/*
data/*
utils/__pycache__/*
src/sw_fastedit/data/*
**/*.egg-info
dist/
*.tar.gz
src/sw_fastedit/demo_json/*
assets/input/*
assets/output/*
assets/nii_path/*
assets/nii_out_path/*
assets/json_path/*

test/*